<div class="containerHistory">
  <div class="containerGames">
    <label class="titleHistoric">HISTORIAS</label>
    <div class="gameDetails">
      <div class="subGameDetails" *ngIf="out">
        <div class="containerGameResume">
          <h1>{{ gameName }}</h1>
          <img class="gameCover" src="{{ gameCover }}" />
          <p class="gameResumeText">
            {{ gameText }}
          </p>
        </div>
      </div>
      <div class="subContainerGame">
        <a *ngFor="let game of games" [routerLink]="['/gameDetails', game.id]">
          <div
            class="game"
            [ngStyle]="{
        background:
          'url('+game.img+')',
        
          
      }"
            (click)="goToGameSelected(game)"
            (mouseenter)="imgHover(game, true)"
          >
            <label class="labelGame">{{ game.name }}</label>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
