.primaryButton {
  background-color: rgb(255, 145, 0);
  border: none;
  border-radius: 16px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}
.secundaryButton {
  background-color: transparent;
  border: 2px solid #e4dede;
  border-radius: 16px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #e4dede;
  margin: 10px;
}
